 <!-- Nav Bar Start -->
 <!--<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link ">Exit</a>
                        
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>-->
<!-- Nav Bar End -->      

<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo6.png" alt="Logo">
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Bottom Bar End -->       

<!-- Main Slider Start -->

<!-- Main Slider End -->      

<!-- Brand Start -->

<!-- Brand End -->      

<!-- Feature Start-->

<!-- Feature End-->      


<!-- Category End-->     